<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>

        <form class="example-form">

            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Tipo de usuario</mat-label>
                    <mat-select>
                      <mat-option value="Usuario1">Comprador</mat-option>
                      <mat-option value="Usuario1">Vendedor</mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre de usuario">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Apellido">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email">
                </mat-form-field>          

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contrasena">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Telefono">
                </mat-form-field>

            </mat-card-content>

            <button mat-stroked-button color="accent" class="btn-block">Register</button>
            <span mat-raised-button [routerLink]="'/login'">Ya estas registrado?</span>

        </form>
    </mat-card>
</div>