<mat-toolbar> 
    <mat-toolbar-row>
        <span>
            <img src="assets/LOGO.png" alt="CandyStore Logo">
        </span>
        <span class="example-spacer"></span>
        <button mat-raised-button [routerLink]="'/inicio'">Inicio</button>
        <button mat-raised-button [routerLink]="'/catalogo'">Catalogo</button>
        <button mat-raised-button [routerLink]="'/faqs'">FAQ'S</button>
        <button mat-raised-button [routerLink]="'/footer'">Contacto</button>
        <button mat-raised-button [routerLink]="'/login'">Login</button>
        <img src="assets/PERFIL.png" alt="Perfil" mat-raised-button [routerLink]="'/perfil'">
    </mat-toolbar-row>

</mat-toolbar>