<mat-toolbar color="warn">
    <mat-toolbar-row>
        <span>CandyStore</span>
        <span class="example-spacer"></span>
        <button mat-raised-button [routerLink]="'/inicio'">Inicio</button>
        <button mat-raised-button [routerLink]="'/catalogo'">Catalogo</button>
        <button mat-raised-button [routerLink]="'/faqs'">FAQ'S</button>
        <button mat-raised-button [routerLink]="'/contacto'">Contacto</button>
        <button mat-raised-button [routerLink]="'/login'">Login</button>
        <button mat-raised-button [routerLink]="'/perfil'">Perfil</button>


    </mat-toolbar-row>

</mat-toolbar>