<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" >

    <mat-card class="box">
        <mat-card-header> 
            <mat-card-title>LOGIN</mat-card-title>
        </mat-card-header>

        <form class="example-form" >
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Log in</button>
            <br><br>
            <span >Olvidaste tu contrasena</span>
            <br><br>
            <span mat-raised-button [routerLink]="'/register'">Registrate</span>
        </form>
    </mat-card>

</div>